.courses{
    .course{
        text-decoration: none;
        display: block;
        color: #000;
        .thumb{
            margin-bottom: 10px;
        }
        .title{
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 10px;
            color: var(--vh-global-color-palette-2);
        }
        p{
            margin: 0;
            font-size: .9em;
        }
    }
}