.wpcf7-form-control-wrap{
    display: block;
    position: relative;
    margin-bottom: 10px;
    input[type=text], input[type=email], input[type=tel], input[type=date], textarea, select{
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid $darkBlue;
        &::placeholder{
            color: $darkBlue;
            font-size: .9em;
            transition: opacity .3s ease;
        }
        &:focus{
            outline: #FFF;
            &::placeholder{
                opacity: 0;
            }
        }
    }
    textarea{
        height: 100px;
        padding: 10px;
    }
}
.form{
    .input-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        @include responsive(sm){
            display: block;
        }
    }
    .custom-btn{
        z-index: 50;
    }
    label{
        font-size: 13px;
        display: block;
    }
    br{
        display: none;
    }
}
.check-form{
    .input-row{
        display: grid;
        grid-gap: 30px 60px;
        &.col2{
            grid-template-columns: 2fr 1fr;
            @include responsive(md){
                grid-gap: 10px;
            }
            @include responsive(sm){
                grid-template-columns: 1fr;
                grid-gap: 0;
            }
        }
        .item{
            > label{
                color: $darkBlue;
                font-weight: bold;
                display: block;
                font-size: 1em;
                >.sup{
                    color: red;
                }
            }
            br{
                display: none;
            }
        }
    }
    .table{
        max-width: 100%;
        thead{
            background-color: $darkBlue;
            color: #FFF;
            tr{
                th{
                    padding: 20px;
                    text-align: center;
                    &:first-child{
                        width: 40%;
                        border-radius: 10px 0 0 0;
                    }
                    &:last-child{
                        border-radius: 0 10px 0 0;
                    }
                }
            }
        }
        tbody{
            tr{
                &:nth-child(even){
                    td{
                        background-color: #f7f8f9;
                    }
                }
                td{
                    padding: 20px;
                    vertical-align: middle;
                    border: 1px solid #DDD;
                    text-align: center;
                    &:first-child{
                        text-align: left;
                    }
                }
                &:last-child{
                    td{
                        &:first-child{
                            border-radius: 0 0 0 10px;
                        }
                        &:last-child{
                            border-radius: 0 0 10px 0;
                        }
                    }
                }
                &.group{
                    td{
                        background-color: #DDD;
                        color: $darkBlue;
                        font-weight: 900;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .wpcf7-form-control-wrap, .wpcf7-list-item{
            margin: 0;
        }
        .radio{
            display: flex;
            align-items: center;
            justify-content: center;
            .label{
                margin-left: 5px;
                display: none;
            }
        }
        .wpcf7-radio{
            input{
                display: none;
            }
            .wpcf7-list-item-label{
                text-indent: -9999px;
                position: relative;
                display: flex;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                &:hover{
                    background-color: #d1e7fd;
                }
                &::before{
                    content: "";
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    border-radius: 3px;
                    border: 1px solid #444;
                }
                &::after{
                    content: "";
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: url(../img/vh-icon.svg) no-repeat center;
                    background-size: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: none;
                }
            }
            input{
                &:checked{
                    ~.wpcf7-list-item-label{
                        &::after{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .custom-btn{
        font-size: 1.3em;
        margin: 1em auto;
        padding-left: 50px;
        padding-right: 50px;
    }
    .invalid, .spam{
        .wpcf7-response-output{
            padding: 20px !important;
            border: 0 !important;
            background-color: rgba(red, .3);
            border-radius: 3px;
            margin: 20px 0;
        }
    }
    .table-responsive{
        overflow: inherit;
    }
    @include responsive(md){
        .table{
            thead{
                display: none;
            }
            tbody{
                tr{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                    &:nth-child(even){
                        background-color: #f7f8f9;
                    }
                    td{
                        display: block;
                        border: 0;
                        width: 50%;
                        padding: 10px;
                        &:first-child{
                            display: block;
                            width: 100%;
                            font-weight: bold;
                        }
                        .radio{
                            justify-content: initial;
                            .label{
                                display: block;
                            }
                        }
                    }
                    &:last-child{
                        td{
                            width: 100%;
                            .radio-group{
                                display: flex;
                                flex-wrap: wrap;
                                gap: 0 !important;
                                .radio{
                                    width: 50%;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.submitting{
    opacity: .5;
    pointer-events: none;
}
.btn-submit{
    &.sending{
        pointer-events: none;
        cursor: not-allowed;
    }
}
.form-dang-ky-tam-soat{
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    h2{
        color: $darkBlue;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;
    }
    form{
        input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select{
            height: 50px !important;
            line-height: 50px;
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid $darkBlue;
            &::placeholder{
                color: $darkBlue;
                font-size: .9em;
                transition: opacity .3s ease;
            }
            &:focus{
                outline: #FFF;
            }
        }
        button[type="submit"]{
            height: 50px;
            width: 100%;
            line-height: 50px;
            padding: 0 10px;
            border-radius: 5px;
            border: 0;
            background-color: $darkBlue;
            color: #FFF;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                background-color: $darkBlue;
                color: #FFF;
            }
        }
    }
}