.page-header{
    position: relative;
    z-index: 10;
    .img-holder{
        img{
            width: 100%;
            height: auto;
        }
    }
    .wrapper{
        position: relative;
        z-index: 20;
    }
    .page-header-content{
        padding: 30vh 0;
        @include responsive(md){
            padding: 10vh 0;
        }
        .entry-title{
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--vh-global-color-palette-2);
            @include responsive(md){
                font-size: 1.3em;
            }
        }
    }
}
.page, 
.post-type-archive-doingubs,
.post-type-archive-dieu_tri,
.post-type-archive-chuyen_khoa,
.post-type-archive-goi_dieu_tri,
.post-type-archive-lieu_phap_y_hoc,
.post-type-archive-khoa_hoc,
.tax-dm_dieu_tri, 
.tax-dm_chuyen_khoa,
.tax-dm_goi_dieu_tri,
.tax-dm_lieuphapyhoc,
.tax-dm_khoa_hoc,
.search-results,
.single, 
.category, 
.tag{
    #main-content{
        position: relative;
        z-index: 20;
        padding-top: 1em;
    }
    #breadcrumbs{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 5px;
        align-items: flex-end;
        z-index: 100;
        background-color: #FFF;
        color: rgb(119, 119, 119);
        position: relative;
        top: -70px;
        border-radius: 10px 0 0 0;
        padding: 0 20px;
        overflow: hidden;
        @include responsive(md){
            height: 40px;
            top: -40px;
        }
        @include responsive(sm){
            font-size: .8em;
        }
        &.no-banner{
            position: static !important;
            padding: 10px 0 !important;
            text-align: center;
            justify-content: center;
            height: auto;

        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            width: 1000px;
            background-color: #FFF;
            @include responsive(md){
                width: 15px;
                display: none;
            }
        }
        p{
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(119, 119, 119);
            a{
                color: rgb(119, 119, 119);
                text-decoration: none;
                &:hover{
                    color: var(--vh-global-color-palette-2);
                }
            }
            .separator{
                display: inline-block;
                margin: 0 10px;
            }
        }
        span{
            color: rgb(119, 119, 119);
            a{
                color: rgb(119, 119, 119);
                text-decoration: none;
                &:hover{
                    color: var(--vh-global-color-palette-2);
                }
            }
            span{
                color: rgb(119, 119, 119);
            }
        }
    }
    .section{
        &:first-of-type{
            padding-top: 0;
        }
        .section-des{
            margin: 0 auto;
        }
    }
    .section-title{
        text-align: center;
        margin-bottom: 20px;
        h2{
            font-size: 2em;
            color: var(--vh-global-color-palette-2);
            font-weight: bold;
            @include responsive(md){
                font-size: 1.5em;
            }
            @include responsive(sm){
                font-size: 1.1em;
            }
        }
        h1{
            font-size: 2.5em;
            color: var(--vh-global-color-palette-2);
            font-weight: bold;
            @include responsive(md){
                font-size: 2em;
            }
            @include responsive(sm){
                font-size: 1.3em;
            }
        }
        .icon{
            width: 20px;
            margin: 0 auto;
        }
    }
    .entry-content{
        @include responsive(sm){
            text-align: justify;
        }
        img{
            max-width: 100%;
            height: auto;
            margin: 10px 0;
            &.aligncenter{
                display: block;
                margin: 0 auto 10px;
            }
            &.alignleft{
                float: left;
                margin: 0 10px 10px 0;
            }
            &.alignright{
                float: right;
                margin: 0 0 10px 10px;
            }
        }
    }
    .page-slider{
        padding: 2em 0;
        .img-holder{
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .page-features{
        .features{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 60px;
            padding-top: 50px;
            @include responsive(sm){
                grid-template-columns: 1fr;
                grid-gap: 80px 30px;
            }
            .item{
                position: relative;
                background-color: var(--vh-color-gray);
                border-radius: 10px;
                padding: 80px 20px 20px;
                .icon{
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    background-color: var(--vh-global-color-palette-2);
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    img{
                        width: 60%;
                        height: auto;
                    }
                }
                .content{
                    text-align: center;
                    h3{
                        font-size: 1.5em;
                        font-weight: bold;
                        color: var(--vh-global-color-palette-2);
                    }
                }
            }
        }
    }
}
.page-template-page-contact{
    .form{
        max-width: 800px;
        margin: 0 auto;
        .custom-btn{
            width: 200px;
            margin: 0 auto;
            font-size: 1.2em;
            text-transform: uppercase;
        }
    }
    #map{
        position: relative;
        padding: 0;
        margin-bottom: 2em;
        .iframe-holder{
            line-height: 1;
            iframe{
                margin-bottom: 0;
                display: block;
                width: 100%;
            }
        }
        .contact-info{
            background-color: var(--vh-global-color-palette-2);
            color: #FFF;
            padding: 30px;
            position: absolute;
            left: 100px;
            bottom: 8px;
            max-width: 500px;
            @include responsive(md){
                position: static;
                margin-top: 10px;
                border-radius: 10px;
            }
            h3{
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 10px;
            }
            a{
                color: #FFF;
                text-decoration: none;
            }
        }
    }
}
.page-template-page-thankyou{
    .page-content{
        padding: 10vh 0;
    }
}
.page-template-page-result {
    .sub-results {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .result {
            width: 20%;
            margin: 0;

            @include media-breakpoint-down(sm) {
                width: 40%;
                h2 {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }

                .point .content .amount {
                    width: 100px;
                    height: 100px;
                    font-size: clamp(1.5em, 50px, 5em);

                    .unit {
                        font-size: .3em;
                    }
                }
            }
        }

        h2 {
            font-size: 1.5em;
            font-weight: bold;
            color: var(--vh-global-color-palette-2);
            margin-bottom: 1em;

            span {
                display: block;
            }
        }
    }

    .result {
        width: 65%;
        margin: 2em auto;
        text-align: center;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        .title {
            font-size: 1.5em;
            font-weight: bold;
            color: var(--vh-global-color-palette-2);
            margin-bottom: 1em;
        }

        .point {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .content .amount {
                text-decoration: none;
                font-weight: bold;
                font-size: clamp(2em, 70px, 7em);
                color: #FFF;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 170px;
                height: 170px;
                border-radius: 50%;
                text-align: center;
                line-height: 1;
                margin: 0 auto;
                border: 1px solid var(--vh-global-color-palette-2);
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 90%;
                    height: 90%;
                    background: var(--vh-global-color-palette-2);
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }

                .unit {
                    font-weight: 300;
                    font-size: .3em;
                    display: block;
                    width: 100%;
                }
            }

            h3 {
                font-size: 1.2em;
                font-weight: bold;
                margin-top: 1em;
                color: #000;
                text-transform: uppercase;
            }
        }

        .note {
            font-style: italic;
            opacity: .7;
            margin-top: 1em;
        }

        .custom-btn {
            margin: 1em auto;
        }

        &.total-result {
            margin-top: 4rem;
            h2 {
                font-size: 2em;
                font-weight: bold;
                color: var(--vh-global-color-palette-2);
                margin-bottom: 1em;
                text-transform: uppercase;

                span {
                    display: block;
                }
            }

            .point .content .amount {
                width: 220px;
                height: 220px;
                font-size: clamp(2em, 70px, 7em);

                .unit {
                    font-size: .5em;
                }
            }
        }
    }
}
.page404{
    text-align: center;
    padding-bottom: 2em;
    img{
        display: block;
        width: 600px;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    h1{
        font-size: 3em;
        font-weight: bold;
        @include responsive(md){
            font-size: 1.5em;
        }
    }
    .custom-btn{
        margin: 0 auto;
    }
}
.search-results{
    .section-title{
        text-align: left;
    }
    .results{
        .post{
            margin-bottom: 20px;
            .title{
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                }
            }
            p{
                margin: 0;
                opacity: .5;
            }
        }
    }
}